<ion-content padding >

<ion-row responsive-sm>
	  <ion-col col-12 col-sm>
	  	<img style="width: 100%;"  src="../assets/logos/logo1.png">
	  </ion-col>
</ion-row>

</ion-content>

<ion-footer class="footer">
    <h1 align="center">මවු පදවිය</h1>
</ion-footer>



<!-- 
.logo{
        background-image: url('');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 95%;
    } -->