page-splash {

    
    .logo{
        background-image: url('../assets/logos/logo1.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 95%;
    }

    h1{
          font: 2rem 'AmstelvarAlpha', cursive;
          color: gray;
          font-size: 30px;
          font-weight: lighter;
          font-weight: bold;


    }
    .footer{
        background: linear-gradient(to bottom, white, Silver);
    }

    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
         top: 0px; 
         bottom: auto; 
         background-position: left 0 top 0; 
         height: 0px; 
    }

}
