<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!categoryTitle">Recent posts</ion-title>
    <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
    <ion-buttons *ngIf="loggedUser" end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon class="toolbar-icon" name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="!loggedUser" end>
      <button ion-button icon-only (click)="goToLogin()">
        <ion-icon class="toolbar-icon" name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-card *ngFor="let post of posts" >
    <ion-card-content >
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <p [innerHTML]="post.excerpt.rendered"></p>
    </ion-card-content>
    <ion-row no-padding>
       <ion-col>
         <button ion-button clear small color="primary" icon-start>
           {{post.date.split('T')[0]}}
         </button>
       </ion-col>
       <ion-col text-right>
         <button ion-button small color="primary" (click)="postTapped($event, post)" icon-start>
            Read More
         </button>
       </ion-col>
     </ion-row>
  </ion-card>
  <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

 -->


 
  <ion-header>
  <ion-navbar>
    <ion-title>
      මවු පදවිය
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>
  <button ion-item *ngFor="let category of categorys" (click)="onShowCategoryDetails(category);">
    {{ category.name }}
  </button>  
</ion-list>






<!-- <ion-grid>
	    <ion-row>
	        <ion-col col-6>මවු පදවිය</ion-col>
	        <ion-col col-6>Other</ion-col>
	    </ion-row>
	</ion-grid>

	<ion-row>
	  <ion-col col-12 col-md>
	  <button clsaa="ionButton" name ="namesss" id="a" value="purwa_garbani" (click)="clicked($event)">පුර්ව ගර්භණී කාලය</button>
	  </ion-col>
	</ion-row>

	<ion-row>
 		<ion-col col-12 col-sm>
 		<button clsaa="ionButton" (click)="findData()"  value="garbani">ගර්භණී කාලය</button>
 		</ion-col>	
 	</ion-row>

 	<ion-row>
	  <ion-col col-12 col-sm>
	  <button clsaa="ionButton" (click)="findData()"  value="c">අලුත උපන් බිලිදා</button>
	  </ion-col>
	</ion-row>

	<ion-row>
		<ion-col col-12 col-sm>
		<button clsaa="ionButton" (click)="findData()"  value="d">පුන්චි පුතා දැන් හුරතල්</button>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col col-12 col-sm>
		<button clsaa="ionButton" (click)="findData()"  value="e">නැලවිලි ගි</button>
		</ion-col>
	</ion-row> -->

</ion-content>
<ion-footer>fdrggf
</ion-footer>
