<!--
  Generated template for the CategoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> 
    {{cate.name}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding> 

<ion-list >
  <button ion-item *ngFor="let posts of posts" (click)="getPostsByCategoryId(posts);">

      <ion-thumbnail item-start>

        <!-- <img src="{{item._embedded[wp:featuredmedia][0].media_details.sizes.thumbnail.source_url}}"/>  -->
      </ion-thumbnail>

    {{ posts.title.rendered }}
  </button>   

</ion-list>

</ion-content>
