<!--
  Generated template for the PostsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{post.title.rendered}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div [innerHTML]="post.content.rendered" padding></div>

</ion-content>
